@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    width: 100vh;
    font-family: 'Inter', sans-serif;
    background-image: url(assets/bg-img2.jpg);
    background-size: cover;
    z-index: 1;
}
body video {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    object-fit: cover;
}



/*-------------------------------------------------------------------------------------------- */
/*----------------------             DEBUT DE SECTION NAV            ------------------------- */
/*-------------------------------------------------------------------------------------------- */
.nav {
    position: absolute;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
.nav .logo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    z-index: 3;
    animation: bounceLogo 1.5s infinite;
}
@keyframes bounceLogo {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.06);
    }

    100% {
        transform: scale(1);
    }
}
.nav a {
    color: white;
    align-items: center;
}

.links{
    position: absolute;
}
.nav .links {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: rgba(246, 233, 216, 0.505);
    margin-top: 30px;
    animation: fadeIn 0.4s;
    z-index: 500;
}
.links.mobile-links {
    display: none;
}
.nav .links a {
    font-family: 'Bodoni Moda', serif;
    font-size: clamp(1em, 3.5vh, 2.5em);
    color: #575548ff;
    text-transform: uppercase;
    margin: 0 40px;
    transition: all 0.5s;
}
.nav .links a:hover {
    color: rgb(201, 189, 110);
    transform: scale(1.2);
}
.nav .nav-links {
    display: flex;
    align-items: center;
    background-color: rgba(246, 233, 216, 0.605);
    backdrop-filter: blur(5px);
    width: 100%;
    justify-content: end;
    padding-right: 60px;
    margin: 40px;
    transition: all 1s;
    animation: fadeIn 0.4s;
    z-index: 100;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.nav-links.mobile-menu {
    display: none;
}
.nav .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.nav .nav-links ul li {
    font-family: 'Bodoni Moda', serif;
    text-transform: uppercase;
    letter-spacing: -4px;
    margin: 30px 0;
    font-size: 5em;
    transition: all 0.5s;
}
.nav .nav-links ul li:hover {
    transform: translate(-10%);

}
.nav .nav-links ul li a {
    color: #575548ff;
    transition: all 0.5s;
}
.nav .nav-links ul li:hover a {
    color: rgb(201, 189, 110);
}
.nav .nav-links ul li:active a {
    color: rgb(201, 189, 110);
    font-weight: bold;
}
.nav .nav-droite {
    display: flex;
    align-items: start;
}
.nav .visit {
    color: #575548ff;
}
.nav .menu-burger {
    padding-left: 30px;
    display: flex;
    padding-top: 4px;
    cursor: pointer;
    color: #575548ff;
    transition: all 0.4s;
}
.nav .menu-burger:hover {
    color: rgb(201, 189, 110);
    transform: scale(1.15);
}
.nav p {
    font-size: 40px;
    font-weight: bold;
}

@media (max-width: 1600px) {
    body {
        width: 100vw;
    }
    .nav .logo img {
        width: 140px;
        height: 140px;
    }
    .nav .links a {
        font-size: 1em;
        margin: 15px;
    }
    .nav .nav-links ul li {
        font-size: 3em;
    }
}

@media (max-width: 1400px) {
    body {
        width: 100vw;
    }
    .nav .logo img {
        width: 120px;
        height: 120px;
    }
    .nav .nav-droite p {
        font-size: 2em;
    }
}

@media (max-width: 992px) {
    .nav .nav-links {
        padding-right: 60px;
        margin: 0;
        width: 100vw;
        height: 80vh;
    }
}

@media (max-width: 768px) {
    .nav .nav-links a {
        font-size: 0.5em;
    }
}
@media (max-width: 576px) {
    .nav .nav-links {
        padding-right: 0;
        justify-content: center;
        align-items: flex-start;
        height: 380px;
    }
    .nav .nav-links ul {
       align-items: center;
    }
    .nav .nav-links ul li{
        margin: 10px 0;
    }
    .nav .nav-links ul li a{
        font-size: 0.5em;
    }
}

@media (max-width: 420px) {
    body {
        width: 100vw;
    }
    .nav {
        position: none;
        padding: 30px 0px;
        justify-content: space-evenly;
        width: 100vw;
    }
    .nav .logo img {
        width: 100px;
        height: 100px;
    }
    .nav .links {
        margin: 0;
        background-color: rgba(246, 233, 216, 0.605);
        padding-left: 70px;
        transform: translateX(-80px);
    }
    .nav .links a {
        font-size: 2em;
        color: #575548ff;
    }
    .nav .links a span {
        display: none;
    }
    .nav .nav-droite {
        padding: 40px 0;
    }
    .nav .nav-droite p {
        font-size: 2em;
    }
    .nav .nav-links{
        padding-right: 0;
        align-items: flex-start;
        height: 380px;
        width: 160px;
        
    }
    .nav .nav-links ul li a{
        font-size: 12px;
        letter-spacing: 0;
    }
}




main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}


/*-------------------------------------------------------------------------------------------- */
/*----------------------           DEBUT DE SECTION PROFIL           ------------------------- */
/*-------------------------------------------------------------------------------------------- */
.profil {
    display: flex;
    width: 100vw;
    flex-direction: column;
    padding: 14% 80px 0;
    font-family: 'Bodoni Moda', serif;
}

.profil .left {
    font-size: 10em;
    letter-spacing: -18px;
}

.profil .left p.prenom {
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(165, 140, 57);

}

.profil .left p.nom {
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(165, 140, 57);
    margin-top: -100px
}

.profil .right {
    font-family: 'Bodoni Moda', serif;
    margin: 0.5% 0;
    max-width: 50%;
    background-color: rgba(246, 233, 216, 0.505);
    padding: 20px 40px;
    display: flex;
    align-self: center;
    /* border: 1px solid rgb(136, 115, 46); */
}

.profil .right p {
    font-size: 1.3em;
    font-weight: 500;
    color: #575548ff;
}

@media (max-width: 1200px) {
    .profil .left {
        font-size: 8em;
        letter-spacing: -10px;
    }

    .profil .left p.nom {
        margin-top: -70px;
    }

    .profil .right p {
        font-size: 1.1em;
    }
}

@media (max-width: 992px) {
    .profil {
        padding-top: 20%;
    }

    .profil .left {
        font-size: 6.4em;
        letter-spacing: -10px;
    }

    .profil .left p.nom {
        margin-top: -70px;
    }

    .profil .right p {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .profil {
        padding-top: 35%;
    }

    .profil .left {
        font-size: 4.5em;
        letter-spacing: -10px;
        margin-top: 30px;
    }

    .profil .left p.nom {
        margin-top: -30px;
    }

    .profil .right p {
        font-size: 1em;
    }
}

@media (max-width: 576px) {
    .profil {
        padding-top: 40%;
        padding-left: 0;
        padding-right: 0;
    }

    .profil .left {
        display: flex;
        flex-direction: column;
        font-size: 3.4em;
    }

    .profil .left p.nom {
        margin-top: 0;
    }

    .profil .right {
        margin: 10% 0;
        max-width: 50%;
    }
}
@media (max-width: 420px) {
    .profil {
    }

    .profil .left {
        font-size: 55px;
        text-align: center;
    }

   

    .profil .right {
    }
}




/*-------------------------------------------------------------------------------------------- */
/*------------------------------ DEBUT DE SECTION COMPETENCES -------------------------------- */
/*-------------------------------------------------------------------------------------------- */
.competences {
    display: none;
    flex-direction: row;
    justify-content: center;
    padding-top: 10%;
}

.competences .card {
    backdrop-filter: blur(3px);
    
    background-color: #ffffff78;
    font-size: 20px;
    margin: 40px;
    padding: 3% 8%;
    transition: all 0.3s;
}

.competences .card:hover {
    border: 1px solid rgb(136, 115, 46);
    transform: scale(1.4);
}

.competences .hardskills {
    width: 240px;
    height: 480px;
}

.competences .softskills {
    width: 280px;
    height: 460px;
}

.competences .softskills ul {
    padding-top: 40px;
}

.competences h2 {
    font-family: 'Bodoni Moda', serif;
    color: rgb(136, 115, 46);
    text-align: center;
    text-transform: uppercase;

}

.competences ul li {
    color: #575548ff;
    letter-spacing: -1px;
    font-size: 1em;
}

.competences ul li span {
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    font-size: 1.4em;
    text-transform: uppercase;
}

.competences .card-top {
    display: flex;
    padding-top: 40px;
}

.competences .card-bot {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-bottom: 40px;
}
@media (max-width: 992px) {
    .competences{
        padding-top: 20%;
    }
    .competences .card {
        margin: 40px 10px;
        padding: 3% 5%;
    }
    .competences .hardskills {
        width: 230px;
    }
    .competences .softskills {
        width: 230px;
    }
}
@media (max-width: 576px) {
    .competences{
        flex-direction: column;
    }
    .competences .card {
        margin: 40px 10px;
        padding: 3% 5%;
    }
    .competences .hardskills {
        width: 270px;
        margin-top: 400px;
    }
    .competences .softskills {
        width: 270px;
    }
}
@media (max-width: 420px) {
    .competences{
        flex-direction: column;
    }
    .competences .card {
        margin: 40px 10px;
        padding: 3% 5%;
    }
    .competences .hardskills {
        width: 200px;
        margin-top: 400px;
    }
    .competences .softskills {
        width: 200px;
    }
}



/*                 Formations             */
.formations {
    display: none;
    justify-content: center;
    align-items: start;
    padding: 0 10%;
    padding-top: 12%;
    transition: all 0.3s;
}

.formations .card-formations {
    width: 30%;
    margin: 20px;
    background-color: #ffffff78;
    border: 1px solid rgb(136, 115, 46);
    backdrop-filter: blur(3px);
    transition: all 0.3s;
    animation: fadeIn 0.4s;
}

.formations p {
    font-family: 'Bodoni Moda', serif;
    color: rgb(42, 41, 35);
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    font-style: italic;
    margin: 15px;
}

.formations .titre {
    font-family: 'Bodoni Moda', serif;
    text-transform: uppercase;
    color: rgb(136, 115, 46);
    font-size: 22px;
    text-align: center;
    letter-spacing: -1px;
    padding: 10px 10px;
}

.btn-info-card1,
.btn-info-card2,
.btn-info-card3,
.btn-info-card4 {
    cursor: pointer;
    transition: all 0.5s;
}

.btn-info-card1:hover,
.btn-info-card2:hover,
.btn-info-card3:hover,
.btn-info-card4:hover {
    background-color: rgba(246, 233, 216, 0.505);
    letter-spacing: 1px;
    color: rgb(201, 189, 110);
}

.info-card1,
.info-card2,
.info-card3,
.info-card4 {
    display: none;
}

.formations ul {
    font-size: 10px;
    color: #575548ff;
    padding: 10px 20px;
    font-size: 1em;
}

.formations ul li {
    letter-spacing: -1px;
}

.formations ul li span {
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    font-size: 1.4em;
}

.formations .card-formations:hover {
    border: 1px solid rgb(136, 115, 46);
    backdrop-filter: blur(3px);
}

@media (max-width: 1400px){
    .formations{
        padding-top: 20% ;
    }
}
@media (max-width: 992px){
    .formations{
        flex-direction: column;
        margin-top: 20%;
    }
    .formations .card-formations{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .info-card1,
    .info-card2,
    .info-card3,
    .info-card4 {
        padding: 0 10%;
    }
}
@media (max-width: 768px){
    .formations{
        margin-top: 300px;
    }
}
@media (max-width: 576px){
    .formations{
        margin-top: 500px;
    }
}
@media (max-width: 420px){
    .formations{

    }
    .formations .titre{
        font-size: 18px;
        
    }
}

/*-------------------------------------------------------------------------------------------- */
/*---------------------------------- DEBUT DE SECTION PROJETS--------------------------------- */
/*-------------------------------------------------------------------------------------------- */
.projets {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
}
.projets .card-projets{
    background-color: rgba(246, 233, 216, 0.505);
    border: 1px solid rgb(136, 115, 46);
    backdrop-filter: blur(3px);
    width: 400px;
    height: 300px;
    text-align: center;
    margin: 40px;
}
.projets .prjt1{
    background-image: url(assets/projet1.png);
    background-size: cover;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projets .prjt2{
    background-image: url(assets/projet2.png);
    background-size: cover;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projets .prjt3{
    background-image: url(assets/projet3.png);
    background-size: cover;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projets .prjt4{
    background-image: url(assets/projet4.png);
    background-size: cover;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projets .prjt5{
    background-image: url(assets/projet5.png);
    background-size: cover;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projets .prjt6{
    background-image: url(assets/projet6.png);
    background-size: cover;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projets .card-projets p{
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 3px black;
}

